<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apitron.PDF.Rasterizer" version="3.0.157" targetFramework="net472" />
  <package id="cef.redist.x64" version="89.0.17" targetFramework="net472" />
  <package id="cef.redist.x86" version="89.0.17" targetFramework="net472" />
  <package id="CefSharp.Common" version="89.0.170" targetFramework="net472" />
  <package id="CefSharp.Wpf" version="89.0.170" targetFramework="net472" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net472" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net472" />
  <package id="itext7" version="7.1.15" targetFramework="net472" />
  <package id="MaterialDesignColors" version="2.0.0" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.0.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="6.10.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.10.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="19.1.0.66" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="19.1.0.66" targetFramework="net472" />
  <package id="Syncfusion.Pdf.Wpf" version="19.1.0.66" targetFramework="net472" />
  <package id="VersOne.Epub" version="3.0.3.1" targetFramework="net472" />
</packages>